*.code-workspace
*.txt
__pycache__/
.pytest_cache/
.logs/
.env*
!.env.example
outputs/
.ruff_cache/
.DS_Store
.env
.venv/

# Added by cargo

/target


# Added by cargo
#
# already existing elements were commented out

#/target
